.details-container {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 0 20px;
}

.details-main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.details-img-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 10vw);
  grid-gap: 10px;
}

.details-img-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.details-description-block {
  width: 700px;
}
.details-description-block > p {
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.details-img-container img:first-child {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

.details-description {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 20px;
}
.details-description > div > p {
  margin-top: 10px;
}

.details-desciption-reserve {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 1px 2px 5px black;
}

.details-desciption-reserve > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.details-desciption-reserve > button {
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 0;
  background-color: #ff5a5f;
  color: #fffbff;
  padding: 10px;
  font-weight: bold;
}

.details-desciption-reserve > button:hover,
.details-reviews-header > button:hover {
  box-shadow: 1px 1px black;
}

.details-reviews-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 20px 0;
}

.details-reviews-header {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-top: 2px solid #cccccc;
}

.details-reviews-header > button {
  border: 1px solid black;
  border-radius: 0;
  background-color: #ff5a5f;
  color: #fffbff;
  padding: 5px;
  font-weight: bold;
  width: 200px;
}

.reviews-tile {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
