.manage-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.manage-container > h1 {
  padding: 0 40px;
}

.manage-spots {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 15px;
  padding: 20px 40px;
  max-width: 1000px; /* Adjust as needed */
  justify-content: center;
}

.manage-container button {
  margin: 0 40px;
  border: 1px solid black;
  background-color: #ff5a5f;
  color: #fffbff;
  padding: 5px;
  font-weight: bold;
  width: fit-content;
  cursor: pointer;
}

.manage-container button:hover {
  box-shadow: 1px 1px black;
}

.spot-owner {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;
}
