.manage-container {
  max-width: 1000px;
  margin: 0 auto;
}

.manage-spots {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 15px;
  padding: 20px 40px;
  max-width: 1000px; /* Adjust as needed */
  margin: 0 auto;
}

.manage-container button {
  border: 1px solid black;
  border-radius: 0;
  background-color: #ff5a5f;
  color: #fffbff;
  padding: 5px;
  font-weight: bold;
  width: 200px;
  align-self: center;
  cursor: pointer;
}

.manage-container button:hover {
  box-shadow: 1px 1px black;
}

.spot-owner {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}
