.delete-spot-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  width: 20rem;
}

.delete-spot-container button {
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 0;
  background-color: #ff5a5f;
  color: #fffbff;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
}

.delete-spot-container button:hover {
  box-shadow: 1px 1px black;
}
