.reviews-tile p {
  word-break: break-word;
  hyphens: auto;
}

.reviews-tile button {
  border: 1px solid black;
  border-radius: 0;
  background-color: #ff5a5f;
  color: #fffbff;
  padding: 5px;
  font-weight: bold;
  width: 100px;
  cursor: pointer;
}

.reviews-tile button:hover {
  box-shadow: 1px 1px black;
}

.review-tile-options {
  display: flex;
  gap: 5px;
}
