.login-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 40px;
}

.login-form > h1 {
  padding-top: 10px;
}

.login-form button {
  padding: 10px;
  border: none;
  background-color: #3f51b5;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  width: 20vw;
}

.login-form button:hover {
  cursor: pointer;
  color: black;
}

.login-form input {
  padding: 10px;
  margin: 10px 0;
  width: 20vw;
  border: 0;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
}
